/**
 * ${comments}
 *
 * ${preName}/${nextName}.js
 *
 * @date ${datetime}
 */
import request from '@/utils/request'

/**
 * 添加
 * @param {数据体} data
 */
export function ${classname}Add(data) {
  return request({
    url: '/${preName}/${nextName}',
    method: 'post',
    data
  })
}


/**
 * 批量删除
 * @param {id数组} ids
 */
export function ${classname}Del(ids) {
  return request({
    url: '/${preName}/${nextName}',
    method: 'delete',
    params: {
      ids: ids
    }
  })
}

/**
 * 更新
 * @param {数据体} data
 */
export function ${classname}Update(data) {
  return request({
    url: '/${preName}/${nextName}',
    method: 'put',
    data
  })
}

/**
 * 详情
 * @param {主键} id
 */
export function ${classname}Get(id) {
  return request({
    url: '/${preName}/${nextName}',
    method: 'get'
  })
}

/**
 * 分页
 * @param {分页参数} params
 */
export function ${classname}Page(params) {
  return request({
    url: '/${preName}/${nextName}/page',
    method: 'get',
    params: params
  })
}
