import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Mapper extends CustomBaseMapper<${className}> {

}
