import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import lombok.AllArgsConstructor;
import org.springframework.stereotype.Service;

/**
 * ${comments}
 *
 * @author ${author}
 * @date ${datetime}
 */
@Service
@AllArgsConstructor
public class ${className}Service extends CustomServiceImpl<${className}Mapper, ${className}> implements CustomIService<${className}> {

}
