<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/static/base.css">
    <title th:text="'授权 - ' + ${app_name}">授权 - XXX</title>
</head>

<body>
<div id="Wrapper">
    <div class="Header">
        <div class="Header-title">授权</div>
        <div class="Header-subTitle" th:text="${app_name}">XXX</div>
    </div>
    <form class="Form" method="post" action="/oauth/authorize">
        <div class="Form-login">
            <label class="Label">
                <input id="client_id" class="Input" name="client_id"  th:value="${client_id}">
            </label>

            <ul class="list-group">
                <li class="list-group-item" th:each="scope : ${scopes}">
                  <input type="hidden" name="user_oauth_approval" value="true"/>
                  <input type="checkbox" disabled checked="checked" /><lable th:text="${scope}"></lable>
                </li>
            </ul>
            <button id="submitButton" class="Form-submitButton" type="submit">授权</button>
        </div>
    </form>
</div>

<div class="Footer"><a href="https://beian.miit.gov.cn/" th:text="${beian}">浙ICP备xxxx号</a></div>
</body>

</html>