<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.taoroot.mapper.sys.SysAuthorityMapper">

    <select id="selectByMenu" resultType="cn.flizi.rbac.entity.SysAuthority">
         select
            a.authority, a.name, a.path, a.method, ma.id
        from sys_menu_authority ma
        left join sys_authority a on a.id = ma.authority_id
        ${ew.customSqlSegment}
    </select>
</mapper>
