<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.taoroot.mapper.sys.SysLogMapper">
    <resultMap id="BaseResultMap" type="cn.flizi.rbac.entity.SysLog">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="business_type" jdbcType="INTEGER" property="businessType"/>
        <result column="method" jdbcType="VARCHAR" property="method"/>
        <result column="request_method" jdbcType="VARCHAR" property="requestMethod"/>
        <result column="operator_type" jdbcType="INTEGER" property="operatorType"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="dept_id" jdbcType="BIGINT" property="deptId"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="ip" jdbcType="VARCHAR" property="ip"/>
        <result column="param" jdbcType="VARCHAR" property="param"/>
        <result column="result" jdbcType="VARCHAR" property="result"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="error" jdbcType="VARCHAR" property="error"/>
        <result column="time" jdbcType="INTEGER" property="time"/>
    </resultMap>

    <select id="getPage" resultMap="BaseResultMap">
        select
        l.*, u.username as userName, d.name as deptName
        from sys_log l
        left join sys_user u on l.user_id = u.id
        left join sys_dept d on l.dept_id = d.id
        ${ew.customSqlSegment}
    </select>
</mapper>
