<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.taoroot.mapper.sys.SysUserMapper">

    <resultMap id="SysUserPageVO" type="cn.flizi.rbac.entity.SysUser">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="enabled" jdbcType="BOOLEAN" property="enabled"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="dept_id" jdbcType="INTEGER" property="deptId"/>
        <collection property="roles" column="{userId=id}" select="roleIds"/>
    </resultMap>

    <select id="roleIds" resultType="java.lang.Integer">
        select r.id
        from sys_user_role ur,
             sys_role r
        where r.id = ur.role_id
          AND ur.user_id = #{userId};
    </select>

    <select id="roles" resultType="cn.flizi.rbac.entity.SysRole">
        select r.*
        from sys_user_role ur,
             sys_role r
        where r.id = ur.role_id
          AND ur.user_id = #{userId};
    </select>

    <select id="menus" resultType="cn.flizi.rbac.entity.SysMenu">
        select distinct a.*
        from sys_menu a,
        sys_role_menu ar
        where a.id = ar.menu_id
        <if test="type != null">
            and a.type = #{type}
        </if>
        and ar.role_id in (
        select r.id
        from sys_user_role ur,
        sys_role r
        where r.id = ur.role_id
        AND ur.user_id = #{userId}
        )
    </select>

    <select id="socials" resultType="cn.flizi.rbac.entity.SysUserSocial">
        select us.id, social_nickname, social_avatar, sd.name as socialName, sd.icon, sd.type as socialType
        from sys_social_details sd
           left join sys_user_social us on us.social_type = sd.type
                                         and us.sys_user_id = #{userId}
    </select>


    <select id="authorityNames" resultType="java.lang.String">
    select a.authority
    from sys_authority a,
         sys_menu_authority ma
    where a.id = ma.authority_id
      and ma.menu_id in
          (select distinct m.id
           from sys_menu m,
                sys_role_menu rm
           where rm.menu_id = m.id
             and rm.role_id in (
               select r.id
               from sys_user_role ur,
                    sys_role r
               where r.id = ur.role_id
                 AND ur.user_id = #{userId}
           ))
    </select>

    <select id="getPage" resultMap="SysUserPageVO">
        select u.*, d.name as dept_name
        from sys_user u
        left join sys_dept d on d.id = u.dept_id
        <where>
            <if test="username != null and username != ''">
                and u.username = #{username}
            </if>
            <if test="phone != null and phone != ''">
                and u.phone = #{phone}
            </if>
            <if test="enabled != null ">
                and u.enabled = #{enabled}
            </if>
            <if test="deptId != null">
                and u.dept_id = #{deptId}
            </if>
        </where>
    </select>
</mapper>
