body {
    margin: 0;
}

a {
    text-decoration: none;
    color: #4D4D4D;
}


input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 32px #fff inset;
    /**通过边框阴影遮挡住背景*/
    -webkit-text-fill-color: #333;
    /*自动填充内容的文本颜色*/
}

#Wrapper {
    border-radius: 3px;
}

.Label {
    display: flex;
    border-bottom: 1px solid #ebebeb;
}

.Input {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
    padding: 0;
    overflow: hidden;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: transparent;
    resize: none;
    border: none;

    outline: none;

    width: 100%;
    height: 48px;
    padding: 0;
    color: #8590a6;
}

.Button {
    display: inline-block;
    text-align: center;
    cursor: pointer;
    background: none;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    border: none;
    font-size: 16px;
    line-height: 16px;
    color: #409eff;
}

.Button2 {
    color:#333;
    outline: none;
}

.Header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #409eff;
    font-weight: 700;
    height: 80px;
    padding: 0;
    border-radius: 5px 5px 0 0;
}


.Header-title {
    font-size: 25px;
}

.Header-subTitle {
    font-size: 16px;
}

.Form {
    margin-top: 20px;
    padding: 20px 20px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);
}

.Form-submitButton {
    width: 100%;
    height: 40px;
    margin-top: 32px;

    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 1px solid;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    background-color: #06f;
}


@media screen and (min-width:500px) {
    #Wrapper {
        margin: 70px auto;
        max-width: 350px;
        padding-bottom: 20px;
    }
}

.Tools {
    display: flex;
    justify-content: space-between;
    padding: 20px 16px;
    font-weight: 700;
    color: #409eff
}


.Footer {
    text-align: center;
    margin-top: 60px;
    color: #333;
}