<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0,viewport-fit=cover">
    <meta name="renderer" content="webkit">
    <meta name="force-rendering" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="../public/base.css">
    <title th:text="'绑定 - ' + ${app_name}">绑定 - XXX</title>

</head>

<body>
<div id="Wrapper">
    <div class="Header">
        <div class="Header-title">绑定</div>
        <div class="Header-subTitle" th:text="${app_name}">XXX</div>
    </div>
    <form class="Form" method="post" action="/bind-sms">
        <div class="Form-login">
            <label class="Label">
                <input id="phone" class="Input" name="phone" type="tel" placeholder="输入手机号" value="">
            </label>
            <label class="Label">
                <input class="Input" name="code" type="text" placeholder="输入验证码" value="">
                <button id="get_code" class="Button Button2" type="button" onclick="getCode()">获取验证码</button>
            </label>
            <label class="Label">
                <input id="type" name="type" hidden value="sms">
            </label>
            <div  th:if="${error != null}">
                <p style="color: #ff0000" th:text="${error}">参数错误</p>
            </div>
            <button id="submitButton" class="Form-submitButton" type="submit">提交</button>
            <div class="Tools">
                <a href="/" class="Button">取消绑定</a>
            </div>
        </div>
    </form>
</div>

<div class="Footer"><a href="https://beian.miit.gov.cn/" th:text="${beian}">浙ICP备xxxx号</a></div>
</body>

<script>
    function getCode() {
        var phone = document.getElementById("phone").value
        if(!(/^(0|86|17951)?(13[0-9]|15[012356789]|166|17[3678]|18[0-9]|14[57])[0-9]{8}$/.test(phone))){
            alert("手机号格式错误")
            return
        }

        document.getElementById("get_code").disabled = true
        var total = 60
        var timer = setInterval(()=> {
            document.getElementById("get_code").innerHTML = `已发送(${total}s)`
            total--;
            if(total < 1) {
                document.getElementById("get_code").disabled = false
                clearInterval(timer)
                document.getElementById("get_code").innerHTML = `获取验证码`
            }
        }, 1000)
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function(){
            if(xhr.readyState === 4){
                if(xhr.status === 200){
                    console.log(JSON.parse(xhr.responseText))
                } else{
                    alert('失败！')
                }
            }
        }
        xhr.open('POST', '/sms?phone=' + phone);
        xhr.send();
    }

    var wx_mp = '[[${wx_mp}]]';
    var wx_open = '[[${wx_open}]]';
    var wx_auto = [[${wx_auto}]]
    function refreshCaptcha() {
        var captcha_id = document.getElementById("captcha_id")
        var key = new Date().getTime()
        document.getElementById("captcha_image").src="/captcha?key=" + key
        document.getElementById("captcha_key").value = key
    }

    function wxClick() {
        var ua = navigator.userAgent.toLowerCase();
        var isWx = ua.match(/MicroMessenger/i)=="micromessenger"
        if (isWx) {
            window.sessionStorage.setItem("type", "WX_MP")
            window.location.href = `https://open.weixin.qq.com/connect/oauth2/authorize?appid=${wx_mp}&redirect_uri=${encodeURIComponent(window.location.origin)}%2Fbind-wx-mp&response_type=code&scope=snsapi_userinfo&state=bind&connect_redirect=1#wechat_redirect`
        } else {
            window.sessionStorage.setItem("type", "WX_OPEN")
            window.location.href = `https://open.weixin.qq.com/connect/qrconnect?appid=${wx_open}&redirect_uri=${encodeURIComponent(window.location.origin)}%2Fbind-wx-open&response_type=code&scope=snsapi_login&state=bind&connect_redirect=1#wechat_redirect`
        }
    }

    if (wx_auto == true) {
        wxClick()
    }
</script>

</html>